#home_head {
  background-color: #1caadf;
  width: 100%;
  height: 5.25em;
}

#home_head h2 {
  margin-left: 3%;
  float: left;
  color: white;
  font-family: 'Lobster', cursive;
}

.nav {
  float:right;
  font-size: .75em;
  margin: 1% 3% 3% 3%;
}

#nav_table td {
  padding: 4%;
}

img {
  border-radius: 8px;
}

#new_tweet {
  color: #1caadf;
  font-family: 'Lobster', cursive;
}

.section {
  margin: auto;
  width: 75%;
}

.section a {
  padding: 5%;
}

.section p {
  margin: 3%;
}

.container {
  width: 100%;
  padding: 5%;
}

#small_avatar {
  width: 80%;
}

a {
  text-decoration: none;
  color: grey;
}

a:hover {
  color: orange;
  text-decoration: none;
  transition: color 0.5s;
}

#friend {
  color: green;
}

